<%- include('partials/header', { user }) %>
<%- include('partials/navbar', { user }) %>

<% messages.forEach(msg => { %>
  <div>
    <h3><%= msg.title %></h3>
    <p><%= msg.text %></p>

    <% if (user && user.is_member) { %>
      <p>By: <%= msg.first_name %> <%= msg.last_name %></p>
      <p><%= msg.created_at %></p>
    <% } %>

    <% if (user && user.is_admin) { %>
      <form method="POST" action="/messages/delete/<%= msg.id %>">
        <button type="submit">Delete</button>
      </form>
    <% } %>
  </div>
<% }) %>

<%- include('partials/footer') %>