<%- include('partials/header') %>

<h1>Sign Up</h1>

<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form method="POST" action="/auth/signup">
  <input 
    name="firstName" 
    placeholder="First Name" 
    value="<%= oldInput?.firstName || '' %>" 
    required
  />

  <input 
    name="lastName" 
    placeholder="Last Name" 
    value="<%= oldInput?.lastName || '' %>" 
    required
  />

  <input 
    name="email" 
    type="email"
    placeholder="Email" 
    value="<%= oldInput?.email || '' %>" 
    required
  />

  <input 
    name="password" 
    type="password" 
    placeholder="Password" 
    required 
  />

  <input 
    name="confirmPassword" 
    type="password" 
    placeholder="Confirm Password" 
    required 
  />

  <button type="submit">Sign Up</button>
</form>

<%- include('partials/footer') %>