<%- include('partials/header') %>

<div class="form-container">

  <h1>Sign Up</h1>

  <% if (errors && errors.length > 0) { %>
    <ul class="error-list">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form method="POST" action="/auth/signup">

    <input 
      name="firstName" 
      placeholder="First Name" 
      value="<%= oldInput?.firstName || '' %>" 
      required
    />

    <input 
      name="lastName" 
      placeholder="Last Name" 
      value="<%= oldInput?.lastName || '' %>" 
      required
    />

    <input 
      name="email" 
      type="email"
      placeholder="Email" 
      value="<%= oldInput?.email || '' %>" 
      required
    />

    <input 
      name="password" 
      type="password" 
      placeholder="Password" 
      required 
    />

    <input 
      name="confirmPassword" 
      type="password" 
      placeholder="Confirm Password" 
      required 
    />

    <button type="submit">Create Account</button>

  </form>

</div>

<%- include('partials/footer') %>