<%- include('partials/header') %>

<h1>Sign Up</h1>

<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form method="POST" action="/signup">
  <input name="firstName" value="<%= oldInput?.firstName || '' %>" />
  <input name="lastName" value="<%= oldInput?.lastName || '' %>" />
  <input name="email" value="<%= oldInput?.email || '' %>" />
  <input name="password" type="password" placeholder="Password" required />
  <input name="confirmPassword" type="password" placeholder="Confirm Password" required />

  <button type="submit">Sign Up</button>
</form>

<%- include('partials/footer') %>